.creatives .carousel article {
    display: flex;
    width: 250%;
    -webkit-animation: sliding 25s linear infinite;
    animation: sliding 30s linear infinite;
    gap: 20px;
}

.creatives .carousel article {
    -webkit-animation: sliding 10s linear infinite;
    animation: sliding 25s linear infinite;
    gap: 10px;
}



.creatives .carousel ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@media screen and (max-width: 1023px) {
    .creatives .mobile {
        display: block
    }

    .creatives .desktop {
        display: none
    }

    .creatives .carousel {
        margin-bottom: 40px;
    }

    .creatives .carousel img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 90px;
        height: 275px
    }

    .creatives .carousel article {
        -webkit-animation: sliding 10s linear infinite;
        animation: sliding 50s linear infinite;
        gap: 10px;
    }

    .creatives .carousel ul {
        gap: 10px;
    }

    .creatives .carousel li {
        width: 90px
    }

 
}

@-webkit-keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@keyframes sliding {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}